{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="rwd-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Url</th>
                <th>Size</th>
                <th>Format</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.name }}</td>
                <td>{{ image.description }}</td>
                <td>{{ image.url }}</td>
                <td>{{ image.size }}</td>
                <td>{{ image.format }}</td>
                <td>{{ image.id }}</td>
                <td>
                    <a href="{{ path('app_image_show', {'id': image.id}) }}" class="btn btn-warning">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
