{% extends 'base.html.twig' %}

{% block title %}Audio index{% endblock %}

{% block body %}
    <h1>Audio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Url</th>
                <th>Size</th>
                <th>Format</th>
                <th>Id</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audio in audio %}
            <tr>
                <td>{{ audio.name }}</td>
                <td>{{ audio.description }}</td>
                <td>{{ audio.url }}</td>
                <td>{{ audio.size }}</td>
                <td>{{ audio.format }}</td>
                <td>{{ audio.id }}</td>
                <td>{{ audio.duration }}</td>
                <td>
                    <a href="{{ path('app_audio_show', {'id': audio.id}) }}" class="btn btn-warning">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
