{% extends 'base.html.twig' %}

{% block title %}Audio{% endblock %}

{% block body %}
    <div class="bg-image position-absolute top-0 start-0 opacity-50"></div>

    <h1 class="w-fit mx-auto my-3 position-relative">Audio</h1>

    <table class="rwd-table position-relative">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ audio.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ audio.description }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ audio.url }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ audio.size }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ audio.format }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ audio.id }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ audio.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_audio_index') }}" class="custom-btn-back-to-list d-block mx-auto my-2">Back to list</a>


{% endblock %}
