{% extends 'base.html.twig' %}

{% block title %}SubCategory index{% endblock %}

{% block body %}
    <div class="bg-image position-absolute top-0 start-0 opacity-50"></div>
    {# <p class="position-relative">{{ test }}</p> #}
    {{ form_start(searchForm , {
        "attr" : {
            "class" : "position-relative"
        }
    }) }}

    {{ form_label(searchForm.searchValue) }}
    {{ form_widget(searchForm.searchValue , {
        "attr" : {
            "class" : "search-input"
        }
    }) }}


    {{ form_end(searchForm) }}


    <h1 class="w-fit mx-auto position-relative my-3">All SubCategories</h1>

    <table class="rwd-table position-relative">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="tbody">
        {% for sub_category in sub_categories %}
            <tr>
                <td class="subCategoriesId">{{ sub_category.id }}</td>
                <td class="subCategoriesName">{{ sub_category.name }}</td>
                <td class="d-flex justify-content-center align-items-center gap-2">
                    <a href="{{ path('app_sub_category_show', {'id': sub_category.id}) }}"
                       class="btn btn-warning">Show</a>
                    <a href="{{ path('app_sub_category_edit', {'id': sub_category.id}) }}"
                       class="custom-btn-edit">Edit</a>
                    {{ include ("sub_category/_delete_form.html.twig") }}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr class="my-0">
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                {{ knp_pagination_render(sub_categories) }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a href="{{ path('app_sub_category_new') }}" class="custom-btn-create mx-auto w-fit px-2">Create new
                    SubCategory</a>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
