{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Url</th>
                <th>Size</th>
                <th>Format</th>
                <th>Id</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.name }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.url }}</td>
                <td>{{ video.size }}</td>
                <td>{{ video.format }}</td>
                <td>{{ video.id }}</td>
                <td>{{ video.duration }}</td>
                <td>
                    <a href="{{ path('app_video_show', {'id': video.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
