{% extends 'base.html.twig' %}

{% block title %}Edit Nft{% endblock %}

{% block body %}
    <div class="bg-image position-absolute top-0 start-0 opacity-50"></div>
    <h1 class="mx-auto w-fit my-4 position-relative">Edit Nft</h1>

    <section class="w-50 m-auto position-relative ">

        {{ form_start(nftEditForm , { "attr" : { "class" : "d-flex flex-column w-75 gap-5 m-auto custom-form form-nft-edit" }}) }}

        <table>
            <tr>
                <td colspan="2">
                    {% if not nftEditForm.vars.valid %}
                        <div class="alert alert-danger">
                            {{ form_errors(nftEditForm) }}
                            {% for children in nftEditForm.children %}
                                {% if not children.vars.valid %}
                                    {{ form_errors(children) }}
                                {% endif %}
                                {% for child in children %}
                                    {% if not child.vars.valid %}
                                        {{ form_errors(child) }}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="py-2">{{ form_label(nftEditForm.price ,"Nft Price :") }}</td>
                <td class="py-2">{{ form_widget(nftEditForm.price , {'attr': {'class': 'edit-form-input'}}) }}</td>
            </tr>

            <tr>
                <td class="py-2"> {{ form_label(nftEditForm.description ,"Image Description :") }}</td>
                <td class="py-2">{{ form_widget(nftEditForm.description, {'attr': {'class': 'edit-form-input'}}) }}</td>
            </tr>

            <tr>
                <td colspan="2" class="text-center">
                    <a href='{{ path('app_nft_index') }}' class='custom-btn-back-to-list mx-2'>Back to list</a>

                    <button type='submit' class='custom-btn-edit'>Update</button>
                </td>

            </tr>
        </table>



        {{ form_end(nftEditForm) }}


    </section>

{% endblock %}
