{% extends 'base.html.twig' %}

{% block title %}Nft index{% endblock %}

{% block body %}
    <div class="bg-image position-absolute top-0 start-0 opacity-50"></div>

    <h1 class="mx-auto my-5 w-fit">Nft index</h1>

    <table class="rwd-table my-5 show">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nft in nfts %}
            <tr>
                <td>{{ nft.id }}</td>
                <td>{{ nft.image.name }}</td>
                <td class="d-flex justify-content-evenly align-items-center">
                    <a href="{{ path('app_nft_show', {'id': nft.id}) }}" class="btn-warning btn">Show</a>
                    <a href="{{ path('app_nft_edit', {'id': nft.id}) }}" class="custom-btn-edit">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation mx-auto my-3 w-fit">
        {{ knp_pagination_render(nfts) }}
    </div>

    <a href="{{ path('app_nft_new') }}" class="custom-btn-create m-auto">Create new Nft</a>
{% endblock %}
