{% extends 'base.html.twig' %}

{% block title %}Nft index{% endblock %}

{% block body %}
    <h1 class="mx-auto my-5 w-fit">Nft index</h1>

    <table class="rwd-table my-5 show">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nft in nfts %}
            <tr>
                <td>{{ nft.id }}</td>
                <td>{{ nft.image.name }}</td>
                <td class="d-flex justify-content-evenly align-items-center">
                    <a href="{{ path('app_nft_show', {'id': nft.id}) }}" class="btn-warning btn">show</a>
                    <a href="{{ path('app_nft_edit', {'id': nft.id}) }}" class="custom-btn-edit">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nft_new') }}">Create new</a>
{% endblock %}
