{% extends 'base.html.twig' %}

{% block title %}New Nft{% endblock %}

{% block body %}
    <div class="bg-image position-absolute top-0 start-0 opacity-50"></div>
    <h1 class="w-fit mx-auto my-5 position-relative">Create new Nft</h1>

    <div class="row">
        {{ form_start(form , {
            "attr" : {
                "class" : "m-auto d-flex flex-column gap-2 align-items-center position-relative col-4 form-nft custom-form"
            }
        }) }}

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
                {% for children in form.children %}
                    {% if not children.vars.valid %}
                        {{ form_errors(children) }}
                    {% endif %}
                    {% for child in children %}
                        {% if not child.vars.valid %}
                            {{ form_errors(child) }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <table class="col-12">

            <tr>
                <td>{{ form_label(form.name) }} :</td>
                <td>{{ form_widget(form.name) }}</td>
            </tr>

            {#        {{ form_label(form.users) }} #}
            {#        {{ form_widget(form.users) }} #}

            <tr>
                <td>{{ form_label(form.SubCategory) }} :</td>
                <td>{{ form_widget(form.SubCategory) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.price) }} :</td>
                <td>{{ form_widget(form.price) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.description) }} :</td>
                <td>{{ form_widget(form.description) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.file) }} :</td>
                <td>{{ form_widget(form.file) }}</td>
            </tr>


        </table>

        <a href="{{ path('app_nft_index') }}" class="custom-btn-back-to-list m-auto">Back to list</a>
        <button class="custom-btn-edit d-block position-relative" type="submit">

            Submit
        </button>
        {{ form_end(form) }}
    </div>

{% endblock %}
