{% extends 'base.html.twig' %}

{% block title %}New Nft{% endblock %}

{% block body %}
    {{ form_start(form , {
        "attr" : {
            "class" : "w-50 m-auto d-flex flex-column gap-3 align-items-center   "
        }
    }) }}
    <h1 class="">Create new Nft</h1>

    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.users) }}
    {{ form_widget(form.users) }}

    {{ form_label(form.SubCategory) }}
    {{ form_widget(form.SubCategory) }}

    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}

    {{ form_row(form.file) }}

<button type="submit">Submit</button>
    {{ form_end(form) }}


    <a href="{{ path('app_nft_index') }}">back to list</a>
{% endblock %}
