{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="w-fit mx-auto my-5">Edit User</h1>

    <div class="container mt-3 form-container position-relative update-user-form">
        {{ form_errors(userForm) }}
        {{ form_start(userForm , {
            "attr" : {
                "class" : "w-75 registration-form"
            }
        }
        ) }}
        <div class="row">

            <div class="col-sm-6 form-group">

                {{ form_widget(userForm.firstName , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.firstName) }}

            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(userForm.lastName , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.lastName) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(userForm.email , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.email) }}
            </div>


            <div class="col-sm-6 form-group">
                {{ form_widget(userForm.dateOfBirth , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.dateOfBirth) }}
            </div>

            <div class="col-sm-6 form-group">
                <div class="gender-input">
                    {% for child in userForm.gender.children %}

                        <span>{{ form_widget(child) }}
						<label class="position-static">{{ child.vars.label }}</label>
					</span>


                    {% endfor %}
                </div>
                <div>

                    {{ form_label(userForm.gender) }}
                </div>
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(userForm.address.municipality , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.address.municipality) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(userForm.address.department , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.address.department) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(userForm.address.region , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.address.region) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(userForm.address.path , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.address.path) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(userForm.address.buildingNumber , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(userForm.address.buildingNumber) }}
            </div>

            <div class=" col-12 form-group m-auto">
                {{ form_widget(userForm.address.postCode , {
                    "attr" : {
                        "class" : "special-input register-input  m-auto d-block "
                    }
                }) }}
                {{ form_label(userForm.address.postCode) }}
            </div>

            <div class="agreeTerms mx-auto my-3 text-center">

                {{ form_widget(userForm.agreeTerms , {
                    "attr" : {
                        "class" : "m-auto w-100"
                    }
                }) }}
                {{ form_label(userForm.agreeTerms) }}
            </div>


            <div class=" form-group mb-0 d-flex flex-column align-items-center gap-2">
                <a href="{{ path('app_user_index') }}" class="custom-btn-back-to-list d-block">Back to list</a>
                <button class="custom-btn-edit d-block position-relative" type="submit">

                    Update
                </button>
            </div>

        </div>

        {{ form_end(userForm) }}

    </div>


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
