{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    <div class="container mt-3 form-container position-relative update-user-form">
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm , {
            "attr" : {
                "class" : "w-75 registration-form"
            }
        }
        ) }}
        <div class="row">

            <div class="col-sm-6 form-group">

                {{ form_widget(registrationForm.firstName , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.firstName) }}

            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.lastName , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.lastName) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.email , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.email) }}
            </div>


            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.dateOfBirth , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.dateOfBirth) }}
            </div>

            <div class="col-sm-6 form-group">
                <div class="gender-input">
                    {% for child in registrationForm.gender.children %}

                        <span>{{ form_widget(child) }}
						<label class="position-static">{{ child.vars.label }}</label>
					</span>


                    {% endfor %}
                </div>
                <div>

                    {{ form_label(registrationForm.gender) }}
                </div>
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.address.municipality , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.address.municipality) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.address.department , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.address.department) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.address.region , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.address.region) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.address.path , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.address.path) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.address.buildingNumber , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.address.buildingNumber) }}
            </div>

            <div class="col-sm-6 form-group">
                {{ form_widget(registrationForm.address.postCode , {
                    "attr" : {
                        "class" : "register-input"
                    }
                }) }}
                {{ form_label(registrationForm.address.postCode) }}
            </div>

            <div class="agreeTerms mx-auto my-3 text-center">

                {{ form_widget(registrationForm.agreeTerms , {
                    "attr" : {
                        "class" : "mx-2"
                    }
                }) }}
                {{ form_label(registrationForm.agreeTerms) }}
            </div>


            <div class=" form-group mb-0 d-flex flex-column align-items-center gap-2">
                <a href="{{ path('app_user_index') }}" class="custom-btn-back-to-list d-block">Back to list</a>
                <button class="custom-btn-edit d-block position-relative" type="submit">

                    Update
                </button>
            </div>

        </div>

        {{ form_end(registrationForm) }}

    </div>

    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
